<div class="container">
    <div class="row">
        <div class="col-12 py-4">
            <h1 class="center">Fooldal</h1>
        </div>
       
      
            <div class="card-holder col-12 col-md-6 col-lg-3">
                <div class="card w-100">
                    <img src="../../assets/audi.jpg" class="w-100" alt="">
                </div>
            </div>
    
    
            <div class="card-holder col-12 col-md-6 col-lg-3">
                <div class="card">
                    <img src="../../assets/toyo.jpg"  class="w-100" alt="">
                </div>
    
            </div>
    
            <div class="card-holder col-12 col-md-6 col-lg-3">
                <div class="card">
                    <img src="../../assets/vw.jpg" alt="">
                </div>
    
            </div>
    
    
            <div class="card-holder col-12 col-md-6 col-lg-3">
                <div class="card">
                    <img src="../../assets/p4.1.jpg" class="w-100" alt="">
                </div>
    
            </div>
        </div>
    </div>
       