<div class="container">
    <div class="row">
        <div class="col-12  py-4">
         <h1>Rolunk</h1>
        </div>
 
        <div class="col-12 col-md-4">
         <img id="img" src="../../assets/groupp.jpg" class="w-100" alt="">
        </div>

        <div class="col-12 col-md-8">
         <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus eaque earum harum consequuntur sint totam qui, ab repellat accusamus et rerum minima tenetur voluptate similique facere, perferendis quidem tempora fuga!</p>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis iste perspiciatis praesentium quia dolorum aperiam distinctio voluptates quis, non voluptas, repudiandae, debitis iusto quae velit nihil minima labore commodi ratione!</p>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat voluptate facere aliquid facilis quae odit illum illo quod ipsam quasi aspernatur laudantium, ab dolores, natus autem molestias dolorem quam iste.</p>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius esse magni voluptate soluta facere? Sit dolorum suscipit eaque iusto enim, atque quod ab alias quidem explicabo voluptates corrupti maiores odit.</p>
        </div>

    </div>
</div>