<div class="container">
    <div class="row">
        <div class="col-12  py-4">
         <h1>Elado Autok</h1>
        
    

    <div class="row">
        <div class="card-holder col-md-4 py-4">
            <div class="card-top">
            
                <img src="../../assets/3.1.webp" class="w-100" alt="">
                <ul>
                    <li><b>Gyarto:  </b> Tesla </li>
                    <li><b>Típus:  </b> Model X </li>
                    <li><b>Ccm:   </b>(Elektromos)</li>
                  </ul>
            </div>
            <div class="card-bottom text-center py-2">
                <button type="button" class="btn btn-primary">Bovebb informacio</button>
            </div>
        </div>
    
        <div class="card-holder col-md-4 py-4">
            <div class="card-top">
                <img src="../../assets/p2.1.jpg"  class="w-100" alt="">
                <ul>
                    <li><b>Gyarto:  </b> Tesla </li>
                    <li><b>Típus:  </b> Model Y </li>
                    <li><b>Ccm:   </b>(Elektromos)</li>
                  </ul>
                  
            </div>
            <div class="card-bottom text-center py-2">
                <button type="button" class="btn btn-primary">Bovebb informacio</button>
            </div>
        </div>
    
        <div class="card-holder col-md-4 py-4">
            <div class="card-top">
                <img src="../../assets/p4.1.jpg" class="w-100" alt="">
                <ul>
                    <li><b>Gyarto:  </b> Tesla </li>
                    <li><b>Típus:  </b> Model Y </li>
                    <li><b>Ccm:   </b>(Elektromos)</li>
                  </ul>
                
            </div>
            <div class="card-bottom text-center py-2">
                <button type="button" class="btn btn-primary">Bovebb informacio</button>
            </div>
        </div>
</div>
</div>
    
 <div class="row">
    <div class="card-holder col-md-4 py-4">
        <div class="card-top">
            <img src="../../assets/t1.jpg" class="w-100" alt="">
            <ul>
                <li> <b>Gyarto: </b>Toyota </li>
                <li><b>Típus:  </b>Auris</li>
                <li><b>Ccm:  </b>1600</li>
              </ul>
        </div>
        <div class="card-bottom text-center py-2">
            <button type="button" class="btn btn-primary">Bovebb informacio</button>
        </div>
    </div>


 <div class="card-holder col-md-4 py-4">
        <div class="card-top">
            <img src="../../assets/t2.webp" class="w-100" alt="">
            <ul>
                <li><b>Gyarto:  </b>Toyota </li>
                <li><b>Típus:  </b> Avensis Kombi</li>
                <li><b>Ccm:  </b>1400</li>
              </ul>
             
        </div>
        <div class="card-bottom text-center py-2">
            <button type="button" class="btn btn-primary">Bovebb informacio</button>
        </div>
    </div>

</div>

 </div>
</div>